.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}








table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.button {
  border-radius: 4px;
  background-color: green;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: white;
}
a:active {
    color: white;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}











div.button {
  color: black ;
  background-color: #9cf ;
  border-top: 1px solid #c0ffff ;
  border-right: 1px solid #00f ;
  
}

#calendar-container{
    padding: 10px;
    width: 210px;
    height: 240px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial;
    background-image: linear-gradient(#fff, #d3d3d3);
}

#calendar-container>div{
    padding: 0;
    margin-bottom: 10px;
}

#calendar-month-year{
    margin: 5px;
}

#calendar-dates>table>tr>td{
    padding: 5px;
}





.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #4CAF50}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    color: black;
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}






@-webkit-keyframes moving {
    0%{-webkit-transform: rotate(5deg) translate(50px);}
    10%{-webkit-transform: rotate(-5deg) translate(100px);}
    20%{-webkit-transform: rotate(5deg) translate(150px);}
    30%{-webkit-transform: rotate(-5deg) translate(200px);}
    40%{-webkit-transform: rotate(5deg) translate(250px);}
    50%{-webkit-transform: rotate(-5deg) translate(300px);}
    60%{-webkit-transform: rotate(5deg) translate(350px);}
    70%{-webkit-transform: rotate(-5deg) translate(400px);}
    80%{-webkit-transform: rotate(5deg) translate(450px);}
    90%{-webkit-transform: rotate(-5deg) translate(500px);}
    100%{-webkit-transform: rotate(5deg) translate(550px);}
}

@keyframes moving {
    0%{-webkit-transform: rotate(10deg) translate(50px);}
    10%{-webkit-transform: rotate(-10deg) translate(90px);}
    20%{-webkit-transform: rotate(10deg) translate(170px);}
    30%{-webkit-transform: rotate(-10deg) translate(290px);}
    40%{-webkit-transform: rotate(10deg) translate(450px);}
    50%{-webkit-transform: rotate(-10deg) translate(650px);}
    70%{-webkit-transform: rotate(10deg) translate(970px);}
    80%{-webkit-transform: rotate(-10deg) translate(1080px);}
    90%{-webkit-transform: rotate(10deg) translate(1200px);}
    100%{-webkit-transform: rotate(-10deg) translate(1660px);}
}

.icon {
    height: 6em;
    width: 5em;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: moving 5s linear infinite;
    animation: moving 5s linear infinite;
}






.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}












